<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- Windows -> preferences -> xml 검색 -> XML(wild web developer) -> download external resources ... check 표시 -->
<!-- namespace="com.green.menus.mapper.MenuMapper" : interface 위치 -->
<mapper namespace="com.green.board.mapper.BoardMapper">

	<select id="getBoardList">
		SELECT
		    IDX,
		    MENU_ID,
		    TITLE,
		    CONTENT,
		    WRITER,
		    TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE,
		    HIT
		FROM
		    BOARD
		WHERE   MENU_ID = #{ menu_id }
		ORDER BY    IDX DESC
	</select>
	
	<!-- idx로 게시글 검색 -->
	<select id="getBoard" >
	SELECT
		    IDX,
		    MENU_ID,
		    TITLE,
		    CONTENT,
		    WRITER,
		    TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE,
		    HIT
		FROM
		    BOARD
		WHERE   idx = #{ idx }
	
	</select>
	
	<!-- idx의 조회수를 증가 -->
	<update id="incHit">
		UPDATE BOARD
	  SET	HIT = HIT + 1
	  WHERE IDX = #{idx}
	</update>
	
	<insert id="insertBoard">
	INSERT INTO board (
    IDX,
    MENU_ID,
    TITLE,
    CONTENT,
    WRITER
	) VALUES ( 
    (SELECT NVL(MAX(IDX),0)+1 FROM BOARD),
    #{menu_id},
    #{title},
    #{content},
    #{writer}
	)
	</insert>
	
	
	<delete id="deleteBoard">
		DELETE FROM board WHERE IDX = #{idx}
	</delete>

	<update id="updateBoard">
		UPDATE BOARD
		SET		TITLE = #{title},
					CONTENT = #{content}
		WHERE	IDX = #{idx}
	</update>

</mapper>
