<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- Windows -> preferences -> xml 검색 -> XML(wild web developer) -> download external resources ... check 표시 -->
<!-- namespace="com.green.menus.mapper.MenuMapper" : interface 위치 -->
<mapper namespace="com.green.pds.mapper.PdsMapper" >
	<select id="count" resultType="java.lang.Integer">
		SELECT
			COUNT(IDX) AS CNT
		FROM
			BOARD
		<where>
	    <if test="menu_id != null and menu_id != ''">
	      AND MENU_ID = #{ menu_id }   
	    </if> 
	    <if test="searchType != null and searchType != '' 
	        and keyword != null and keyword != ''">
	      AND ${searchType}  Like '%' || #{ keyword } || '%'   
	    </if>   
  	</where>		
	</select>
	
	<!-- getPdsList -->
	<select id="getPdsList">
		SELECT
	    IDX,
	    MENU_ID,
	    TITLE,
	    WRITER,
	    (
	    SELECT COUNT(FILE_NUM) FROM FILES F
	    WHERE   F.IDX = B.IDX
	    ) FILESCOUNT,    
	    TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE,
	    HIT
	  FROM 
	     BOARD	B
	  <where>
	    <if test="menu_id != null and menu_id != ''">
	      AND MENU_ID = #{ menu_id }   
	    </if> 
	    <if test="searchType != null and searchType != '' 
	        and keyword != null and keyword != ''">
	      AND ${searchType}  Like '%' || #{ keyword } || '%'   
	    </if>	   
	  </where>
	  ORDER  BY  IDX  DESC
	  OFFSET  #{ offset }  ROWS  FETCH  NEXT  #{ numOfRows }  ROWS ONLY 
	
	</select>
	
	<!-- setWrite : Board에 저장 -->
	<insert id="setWrite">
		INSERT INTO BOARD (
		    IDX,
		    MENU_ID,
		    TITLE,
		    CONTENT,
		    WRITER,
		    REGDATE,
		    HIT
		) VALUES ( 
		    (SELECT NVL(MAX(IDX),0)+1 FROM BOARD),
		    #{menu_id},
		    #{title},
		    #{content},
		    #{writer},
		    SYSDATE,
		    0
		)
	</insert>
	
	<!-- setFileWriter : Filse에 insert 
			insert all : 한번에 여러줄을 insert 할 수 있는 명령어
	-->
	<!-- (SELECT NVL(MAX(FILE_NUM),0) FROM FILES) + #{i} + 1 -->
	<!-- (SELECT NVL(MAX(FILE_NUM),0) FROM FILES) - 한번만 실행 : 무결성제약조건 에러 발생 
	 -->
	<insert id="setFileWriter">
		
		<foreach collection="fileList"
							item ="file"
							index = "i"
							open = "INSERT ALL"
							close = "SELECT * FROM DUAL"
							separator = " "
							>
			INTO FILES VALUES (
				(SELECT NVL(MAX(FILE_NUM),0) FROM FILES) + #{i} + 1,
				(SELECT MAX(IDX) FROM BOARD),
				#{file.filename},
				#{file.fileext},
				#{file.sfilename}
			)
		</foreach>
		
	</insert>
</mapper>
